* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 100%;
  background-color: #eef0f4;
}
.container {
  padding: 1rem;
  min-height: 70vh;
  margin-inline: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 250px;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}
input {
  width: 100%;
}
#minutos,
#pomodoros {
  padding: 5px;
  max-width: 6rem;
}
.btn {
  display: inline-block;
  margin: 1rem;
  color: white;
  background-color: black;
  border-radius: 5px;
  padding: .5rem 2rem;
  transition: all .2s;
  cursor: pointer;
}
.convertir {
  background-color: steelblue;
  transition: .2s ease-in;
}
.convertir:hover {
  background-color: rgba(2, 154, 255, 0.6);
}
.borrar {
  background-color: #ff006e;
}

.pomodoros,
.minutos-horas {
  margin-top: 2rem;
  outline: 2px solid steelblue;
  min-width: 80vw;
}